.git
.github
.vs
.idea
.vscode

**/bin
**/obj
**/TestResults
artifacts
coverage
publish

.env
*.env
!.env.example
**/appsettings.*.json
**/secrets

docs
Unit_Tests
database
Website/wwwroot/Images/posts/*
Website/wwwroot/Images/community/*

*.user
*.suo
*.log
*.tmp
